*{
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: white;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 47px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  color: #000e05;
}

h2{
  font-size: 30px;
  font-family:'Roboto Condensed', sans-serif;
  font-weight: bold;
  color: #000e05;
}

p{
  font-size: 16px;
  font-family:'Quicksand', sans-serif;;
  color: #000e05;
}

header{
  background-color: #313331;
  height: 90px;
}

aside{
  	width: 400px;
}
/*Logo start*/
.logo {
  display: flex;
  width: 60%;
  margin-bottom: 20px;
  margin-right: 10%;
  margin-left: 10px;
}

.logo a{
  text-decoration: none;
}

.logo img {
  width: 100px;
  padding-bottom: 5px;
  margin-top: 3.5px;
}

.logo p {
  color: #00B800;
  font-size: 20px;
  margin-top: -65px;
  position: relative;
  right: -670px;
}
/*Logo slut*/

/*Nav start*/
.nav-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li{
  list-style: none;

}

.nav-links a{
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  text-decoration: none;
}

.nav-links li:hover {
  border-bottom: 2px solid white;
}

/*Burger start*/
.burger{
  display: none;
  cursor: pointer;
  margin-top: -43px;
  margin-left: 1320px;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color:rgb(226,226,226);
  margin: 5px;
  transition: all 0.3s ease;
}

/*Start responsiv*/
@media screen and (max-width:1440px){
  body{
    overflow-x: hidden;
  }

  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #313331;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    opacity: 70%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .burger{
    display: block;
    margin-left: 95%;
  }
}

@media(max-width:1366px){
  .logo p{
    position: relative;
    right: -550px;
  }

  .burger{
    margin-left: 95%;
  }
}

@media(max-width:1080px){
  .logo p{
    position: relative;
    right: -450px;
  }

  .burger{
    margin-left: 95%;
  }
}

@media screen and (max-width:768px){
  .logo p{
    position: relative;
    right: -250px;
  }

  .burger{
    margin-left: 90%;
  }
}

@media screen and (max-width:480px){
  .logo p{
    position: relative;
    right: -70px;
  }

  .burger{
    margin-left: 50%;
  }
}
/*Responsiv slut*/

.nav-active{
  transform: translateX(0%);
}
/*Nav slut*/

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform:translateX(50px);
  }

  to{
    opacity: 1;
    transform:translateX(0px);
  }
}

.toggle .line1{
  transform:rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
  opacity: 0;
}

.toggle .line3{
  transform:rotate(45deg) translate(-5px,-6px);
}
/*Burger slut*/

/*Slideshow start*/
.slider{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 1500px;
  height: 700px;
}
/*Manual slide navigation*/
.navigation-manual{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -175px;
}

.manual-btn{
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  margin-top: -10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: black;;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

.overlay-text{
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 30px;
  position: relative;
  top: -650px;
  margin-left: 450px;
  width: 40%;
  text-align: center;
}

/*respnspiv start*/
@media(max-width:1366px){
.overlay-text{
  margin-left: -900px;
  width: 600px;
  }
}

@media(max-width:1080px){
  .overlay-text{
    margin-left: -700px;
    width: 500px;
  }
}
@media screen and (max-width:768px){
  .overlay-text{
    margin-left: -425px;
    width: 300px;
  }
}
/*Responsvi slut*/

/* Slide slut*/

/*Video start*/
.knap {
  color: #fff;
  background-color: #14b555;
  height: 35px;
  width: 65px;
  font-size: 16px;
  border-radius: 5px;
  border: 0px;
  margin-bottom: 20px;
  box-shadow: 0 5px #999;
  cursor: pointer;
}

.knap:hover {
  background-color: #0d6b33;
}
.knap:active {
    background-color: #0d6b33;
    box-shadow: 0 3px #666;
    transform: translateY(2px);
  }

.video {
  padding:5px;
}

aside {
  width: 400px;
  height: 300px;
  float: right;
  border: 2px solid rgb(0, 184, 0);
}

span{
  margin-bottom: -300px;
}

.indhold {
  width: 1000px;
  margin-left: 200px;
  margin-top: 100px;
}

.controls {
  width: 50%;
}

h2 {
font-size: 30px;
font-family: "Roboto Condensed";
font-weight: bold;
color: #000e05;
}

p {
font-size: 16px;
font-family: "Quicksand";
color: #000e05;
}

.tid {
    color: #14b555;
    font-family: "Roboto Condensed";
    font-weight: bold;
}

/*Responsiv*/
@media(max-width:1366px){


  .indhold{
    margin-left: 100px;
  }
}

@media(max-width:1080px){
  aside{
    position:absolute;
    bottom: -875px;
    margin-left: 50px;
  }

  .indhold{
    margin-left: 350px;
  }
}

@media(max-width:768px){
  aside{
    position:absolute;
    bottom: -875px;
  }

  .indhold{
    margin-left: 30px;
  }
}
/*Video slut*/

/*knap start*/
.shareknap { /*shareknap styling*/
  padding: 15px 25px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  letter-spacing: 1.5px;
  font-size: 26px;
  text-align: center;
  color: #fff;
  background-color: #00B800;
  border: none;
  border-radius: 30px;
  margin-left: 1070px;
  margin-top: 10px;
}

.shareknap:hover { /*share knap styling hover*/
  background-color: #3e8e41
}

.shareknap:active { /*share knap styling n책r man klikker p책 den*/
  background-color: #3e8e41;
  transform: translateY(4px); /*flytter share knap ned n책r den klikkes*/
}

.delpa p{
  margin-top: 20px;
  text-align: center;
}
.delpa{ /*share pop up box*/
  position: absolute;
  top: 50%;
  left: 50%;
}

.delpa{ /*share pop up box*/
  width: 400px;
  height: 350px;
  padding: 30px 20px;
  color: #000000;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  letter-spacing: 1.5px;
  font-size: 19px;
  text-align: center;
  background-color: #e8e8e8;
  border: 1px solid #787a78;
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 2;
  top: -500px;
  transform: translate(-50%, -50%) scale(0.5);
  transition: opacity 300ms ease-in-out,
              top 1000ms ease-in-out,
              transform 1000ms ease-in-out;
}
.delpa.active{ /*share pop up box aktiveret*/
  opacity: 1;
  margin-top: 1500px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}

.nul{ /*hidden text*/
  visibility: hidden;
}

.exit{ /*exit knap p책 share pop up box*/
  float: right;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  letter-spacing: 1.5px;
  height: 50px;
  width: 70px;
  text-align: center;
  color: #fff;
  background-color: #00B800;
  border: none;
  border-radius: 30px;
}

.exit:hover{ /*exit knap hover*/
  background-color: #3e8e41;
  transform: translateY(2px); /*flytter exit knap ned*/
}

#facebook-icon{ /*icon styling*/
  color: #0c6ee6;
  font-size: 50px;
}

#facebook-icon:hover{ /*icon hover styling*/
  transform: translateY(2px); /*flytter facebook-icon ned*/
}

#linkdl-icon{ /*icon styling*/
  color: #4376b1;
  font-size: 50px;
}

#linkdl-icon:hover{ /*icon hover styling*/
  transform: translateY(2px); /*flytter linkdl-icon ned*/
}

#mail-icon{ /*icon styling*/
  color: #1c8bf2;
  font-size: 50px;
}

#mail-icon:hover{ /*icon hover styling*/
  transform: translateY(2px); /*flytter mail-icon ned*/
}

#link-icon{ /*icon styling*/
  font-size: 45px;
}

#link-icon:hover{ /*icon hover styling*/
  transform: translateY(2px); /*flytter link-icon ned*/
}

#Facebook{ /*knap styling*/
  border: none;
  background-color: #e8e8e8;
  margin-top: 40px;
  margin-left: 20px;
}

#Linkdl{ /*knap styling*/
  border: none;
  background-color: #e8e8e8;
}

#Mail{ /*knap styling*/
  border: none;
  background-color: #e8e8e8;
}

#Copy{ /*knap styling*/
  border: none;
  background-color: #e8e8e8;
}

#myInput{ /*gemmer myInput box*/
  visibility: hidden;
}

#container { /*container styling*/
  height: 150px;
  width: 358px;
}

.p1{ /*text styling*/
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: center;
  font-size: 14px;

}

#yes{ /*yes knap styling*/
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  height: 30px;
  width: 50px;
  border: none;
  border-radius: 30px;
  background-color: #cccccc;
  margin-top: 10px;
}

#no{ /*no knap styling*/
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  height: 30px;
  width: 50px;
  border: none;
  border-radius: 30px;
  background-color: #cccccc;
  margin-top: 10px;
}

.loops{ /*loop idea hidden*/
  visibility: hidden;
}

/*responsiv*/
@media(max-width:1366px){
  .shareknap{
      margin-left: 970px;
    }
}

@media(max-width:1080px){
.shareknap{
    position:absolute;
    bottom: -950px;
    margin-left: 400px;
  }
}

@media(max-width:768px){
.shareknap{
    position:absolute;
    margin-left: 80px;
  }
}

/*knap slut*/
/*Footer Start*/
footer{
  background-color: #00B800;
  margin-top: 100px;
  width: 100%;
  height: 300px;
  padding: 30px 0;
  line-height: 1.8;
  letter-spacing: .5px;
}

footer h2{
  color: #fff;
  margin-left: 20px;
}

footer li{
  list-style: none;
}

.footer-links1{
  margin-left: 20px;
  margin-top: 10px;
}

.footer-links1 a{
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.footer-links2{
  margin-left: 1100px;
  margin-top: -172px;
}

.footer-links2 a{
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.footer-links1 a:hover{
  border-bottom:  2px solid #313331;
  width: 225px;
}


.footer-links2 a:hover{
  border-bottom:  2px solid #313331;
  width: 225px;
}
/*responsiv start*/
@media(max-width:1400px){
  .footer-links2{
    margin-left: 1000px;
  }
}

@media(max-width:1366px){
  .footer-links2{
    margin-left: 850px;
  }
}

@media(max-width:1080px){
  footer{
    margin-top: 400px;
  }
  .footer-links2{
    margin-left: 500px;
  }
}

@media(max-width:768px){
  footer{
    margin-top: 400px;
  }
  .footer-links2{
    margin-left: 350px;
  }
}
/*Footer slut*/
