.shareknap { /*shareknap styling*/
  padding: 15px 25px;
  font-family: "roboto condenced";
  font-weight: bold;
  letter-spacing: 1.5px;
  font-size: 26px;
  text-align: center;
  color: #fff;
  background-color: #00B800;
  border: none;
  border-radius: 30px;
  margin-left: 1000px;
  margin-top: 500px;
}

.shareknap:hover { /*share knap styling hover*/
  background-color: #3e8e41
}

.shareknap:active { /*share knap styling n책r man klikker p책 den*/
  background-color: #3e8e41;
  transform: translateY(4px); /*flytter share knap ned n책r den klikkes*/
}

.delpa{ /*share pop up box*/
  position: absolute;
  top: 50%;
  left: 50%;
}

.delpa{ /*share pop up box*/
  width: 400px;
  height: 350px;
  padding: 30px 20px;
  color: #000000;
  font-family: "roboto condenced";
  font-weight: bold;
  letter-spacing: 1.5px;
  font-size: 19px;
  text-align: center;
  background-color: #e8e8e8;
  border: 1px solid #787a78;
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 2;
  top: -200px;
  transform: translate(-50%, -50%) scale(0.5);
  transition: opacity 300ms ease-in-out,
              top 1000ms ease-in-out,
              transform 1000ms ease-in-out;
}
.delpa.active{ /*share pop up box aktiveret*/
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}

.nul{ /*hidden text*/
  visibility: hidden;
}

.exit{ /*exit knap p책 share pop up box*/
  float: right;
  font-family: "roboto condenced";
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: center;
  color: #fff;
  background-color: #00B800;
  border: none;
  border-radius: 30px;
}

.exit:hover{ /*exit knap hover*/
  background-color: #3e8e41;
  transform: translateY(2px); /*flytter exit knap ned*/
}

#facebook-icon{ /*icon styling*/
  color: #0c6ee6;
  font-size: 50px;
}

#facebook-icon:hover{ /*icon hover styling*/
  transform: translateY(2px); /*flytter facebook-icon ned*/
}

#linkdl-icon{ /*icon styling*/
  color: #4376b1;
  font-size: 50px;
}

#linkdl-icon:hover{ /*icon hover styling*/
  transform: translateY(2px); /*flytter linkdl-icon ned*/
}

#mail-icon{ /*icon styling*/
  color: #1c8bf2;
  font-size: 50px;
}

#mail-icon:hover{ /*icon hover styling*/
  transform: translateY(2px); /*flytter mail-icon ned*/
}

#link-icon{ /*icon styling*/
  font-size: 45px;
}

#link-icon:hover{ /*icon hover styling*/
  transform: translateY(2px); /*flytter link-icon ned*/
}

#Facebook{ /*knap styling*/
  border: none;
  background-color: #e8e8e8;
}

#Linkdl{ /*knap styling*/
  border: none;
  background-color: #e8e8e8;
}

#Mail{ /*knap styling*/
  border: none;
  background-color: #e8e8e8;
}

#Copy{ /*knap styling*/
  border: none;
  background-color: #e8e8e8;
}

#myInput{ /*gemmer myInput box*/
  visibility: hidden;
}

#container { /*container styling*/
  height: 150px;
  width: 358px;
}

.p1{ /*text styling*/
  font-family: "roboto condenced";
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: center;
  font-size: 14px;
}

#yes{ /*yes knap styling*/
  font-family: "roboto condenced";
  font-weight: bold;
  height: 30px;
  width: 50px;
  border: none;
  border-radius: 30px;
  background-color: #cccccc;
}

#no{ /*no knap styling*/
  font-family: "roboto condenced";
  font-weight: bold;
  height: 30px;
  width: 50px;
  border: none;
  border-radius: 30px;
  background-color: #cccccc;
}

.loops{ /*loop idea hidden*/
  visibility: hidden;
}
